$courier-color: #D30102;
$courier-color-dark: #1f2743;
$courier-color-dark-lighter:#2b3f5e;

html{
    height:100vh;
}
html[data-theme='light']{
    .theme-dark{
        display:none;
    }
}

html[data-theme='dark']{
    .theme-light{
        display:none;
    }
}


body{
    height:100vh;
    font-size:15pt;
}

.courier-font{
    font-family: "DM Serif Text", serif;
    font-style: italic;
    font-weight:400;
}

.courier-color{
    color:$courier-color;
}

.courier-color-dark{
    color: $courier-color-dark;
}

.column.banner{
    display:flex;
    flex-direction: row;
    text-align: right;
    align-items: center;
    justify-content:center;
    @media only screen and (max-width:768px){
        flex-direction: column;
    }
    .logo{
        border:1px solid #dcdcdc;
        border-radius:0px;
    }

    h1.title{
        font-size:3.0rem; //is-size-1
        @media only screen and (max-width:768px){
            text-align: center;
            margin-top:20px;
        }
        @media only screen and (max-width:480px){
            font-size:2rem !important; //is-size-3
        }
        @media only screen and (max-width:1200px){
            font-size:2.5rem !important; //is-size-2
        }
    }
}

// @media only screen and (max-width:768px){
//     .column.banner{
//         flex-direction: column;
//     }
// }


.banner-logo{
    height:150px;
}

.offerings{
    text-align:center;
    h3{
        font-weight:bold;
    }
    img{
        height:80px;
    }
}

.services{
    text-align: center;
    .service__text{
        // font-size:0.8em;
        @extend .is-size-7;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color:$courier-color;
    }
    img{
        height:50px;
    }

}

.navbar-burger span{
    background-color:white !important;
}

.navbar{
    background-color: $courier-color-dark !important;
    .navbar-item{
        color:white !important;

    }
    .navbar-item:hover{
        background-color:$courier-color-dark-lighter!important;
    }
    #navMenu{
        background-color: $courier-color-dark !important;
    }
}

footer{
    padding: 2rem 1rem 4rem !important;
}

