$courier-color: #D30102;
$courier-color-dark: #1f2743;
$courier-color-dark-lighter:#2b3f5e;

html{
    height:100vh;
}
html[data-theme='light']{
    .theme-dark{
        display:none;
    }
}

html[data-theme='dark']{
    .theme-light{
        display:none;
    }
}


body{
    height:100vh;
    font-size:15pt;
}

.courier-font{
    font-family: "DM Serif Text", serif;
    font-style: italic;
    font-weight:400;
}

.courier-color{
    color:$courier-color;
}

.courier-color-dark{
    color: $courier-color-dark;
}

.banner-logo{
    height:150px;
}

.offerings{
    text-align:center;
    h3{
        font-weight:bold;
    }
    img{
        height:80px;
    }
}

.services{
    text-align: center;
    .service__text{
        // font-size:0.8em;
        @extend .is-size-7;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color:$courier-color;
    }
    img{
        height:50px;
    }

}

.navbar-burger span{
    background-color:white !important;
}

.navbar{
    background-color: $courier-color-dark !important;
    .navbar-item{
        color:white !important;

    }
    .navbar-item:hover{
        background-color:$courier-color-dark-lighter!important;
    }
    #navMenu{
        background-color: $courier-color-dark !important;
    }
}

footer{
    padding: 2rem 1rem 4rem !important;
}

