html{
    height:100vh;
}
body{
    height:100vh;
    font-size:15pt;
}

.courier-font{
    font-family: "DM Serif Text", serif;
    font-style: italic;
    font-weight:400;
}

.courier-color{
    color:#D30102;
}

.courier-color-dark{
    color: #1f2743;
}

.banner-logo{
    height:150px;
}

.offerings{
    h3{
        font-weight:bold;
    }
    p{
        font-size:1.0em;
    }
    img{
        height:80px;
    }
}

.navbar-burger span{
    background-color:#1f2743;
}